In [3]:
import pandas as pd
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("Aviation_Data.csv")

# Display the first rows and column names to see what we have
df.info()

c:\Users\Ryan\Downloads\anaconda4\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [5]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [6]:
relevant_columns = [
    "Event.Date", "Make", "Model", "Aircraft.Category", 
    "Number.of.Engines", "Engine.Type",
    "Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries",
    "Location"
]

df = df[relevant_columns]

In [7]:
df.head()

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location
0,1948-10-24,Stinson,108-3,NaN,1.0,Reciprocating,2.0,0.0,0.0,"MOOSE CREEK, ID"
1,1962-07-19,Piper,PA24-180,NaN,1.0,Reciprocating,4.0,0.0,0.0,"BRIDGEPORT, CA"
2,1974-08-30,Cessna,172M,NaN,1.0,Reciprocating,3.0,NaN,NaN,"Saltville, VA"
3,1977-06-19,Rockwell,112,NaN,1.0,Reciprocating,2.0,0.0,0.0,"EUREKA, CA"
4,1979-08-02,Cessna,501,NaN,NaN,NaN,1.0,2.0,NaN,"Canton, OH"

In [ ]:
#Dates are fixed and turned into usable time-series features.
df["Event.Date"] = pd.to_datetime(df["Event.Date"], errors="coerce")
df["Event.Year"] = df["Event.Date"].dt.year
df["Event.Month"] = df["Event.Date"].dt.month

df = df.dropna(subset=["Event.Year"])

In [11]:
df.head(10)

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location,Event.Year,Event.Month
0,1948-10-24,Stinson,108-3,NaN,1.0,Reciprocating,2.0,0.0,0.0,"MOOSE CREEK, ID",1948.0,10.0
1,1962-07-19,Piper,PA24-180,NaN,1.0,Reciprocating,4.0,0.0,0.0,"BRIDGEPORT, CA",1962.0,7.0
2,1974-08-30,Cessna,172M,NaN,1.0,Reciprocating,3.0,NaN,NaN,"Saltville, VA",1974.0,8.0
3,1977-06-19,Rockwell,112,NaN,1.0,Reciprocating,2.0,0.0,0.0,"EUREKA, CA",1977.0,6.0
4,1979-08-02,Cessna,501,NaN,NaN,NaN,1.0,2.0,NaN,"Canton, OH",1979.0,8.0
5,1979-09-17,Mcdonnell Douglas,DC9,Airplane,2.0,Turbo Fan,NaN,NaN,1.0,"BOSTON, MA",1979.0,9.0
6,1981-08-01,Cessna,180,NaN,1.0,Reciprocating,4.0,0.0,0.0,"COTTON, MN",1981.0,8.0
7,1982-01-01,Cessna,140,Airplane,1.0,Reciprocating,0.0,0.0,0.0,"PULLMAN, WA",1982.0,1.0
8,1982-01-01,Cessna,401B,Airplane,2.0,Reciprocating,0.0,0.0,0.0,"EAST HANOVER, NJ",1982.0,1.0
9,1982-01-01,North American,NAVION L-17B,NaN,1.0,Reciprocating,0.0,0.0,3.0,"JACKSONVILLE, FL",1982.0,1.0

In [12]:
#cleaning categorical data
df["Make"] = df["Make"].str.strip().str.upper().fillna("UNKNOWN")
df["Model"] = df["Model"].str.strip().str.upper().fillna("UNKNOWN")
df["Aircraft.Category"] = df["Aircraft.Category"].str.strip().str.title().fillna("Unknown")
df["Engine.Type"] = df["Engine.Type"].str.strip().str.title().fillna("Unknown")

<ipython-input-12-6547082ecc51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Make"] = df["Make"].str.strip().str.upper().fillna("UNKNOWN")
<ipython-input-12-6547082ecc51>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Model"] = df["Model"].str.strip().str.upper().fillna("UNKNOWN")
<ipython-input-12-6547082ecc51>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Aircraft.Category"] = df["Aircraft.Category"].str.strip().str.title().fillna("Unknown")
<ipython-input-12-6547082ecc51>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Engine.Type"] = df["Engine.Type"].str.strip().str.title().fillna("Unknown")

In [13]:
df.head()

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location,Event.Year,Event.Month
0,1948-10-24,STINSON,108-3,Unknown,1.0,Reciprocating,2.0,0.0,0.0,"MOOSE CREEK, ID",1948.0,10.0
1,1962-07-19,PIPER,PA24-180,Unknown,1.0,Reciprocating,4.0,0.0,0.0,"BRIDGEPORT, CA",1962.0,7.0
2,1974-08-30,CESSNA,172M,Unknown,1.0,Reciprocating,3.0,NaN,NaN,"Saltville, VA",1974.0,8.0
3,1977-06-19,ROCKWELL,112,Unknown,1.0,Reciprocating,2.0,0.0,0.0,"EUREKA, CA",1977.0,6.0
4,1979-08-02,CESSNA,501,Unknown,NaN,Unknown,1.0,2.0,NaN,"Canton, OH",1979.0,8.0

In [ ]:
#We replace missing injury counts with 0 and convert them to integers for reliable calculations.
injury_cols = ["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries"]
df[injury_cols] = df[injury_cols].fillna(0).astype(int)

c:\Users\Ryan\Downloads\anaconda4\envs\learn-env\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [15]:
df.head()

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location,Event.Year,Event.Month
0,1948-10-24,STINSON,108-3,Unknown,1.0,Reciprocating,2,0,0,"MOOSE CREEK, ID",1948.0,10.0
1,1962-07-19,PIPER,PA24-180,Unknown,1.0,Reciprocating,4,0,0,"BRIDGEPORT, CA",1962.0,7.0
2,1974-08-30,CESSNA,172M,Unknown,1.0,Reciprocating,3,0,0,"Saltville, VA",1974.0,8.0
3,1977-06-19,ROCKWELL,112,Unknown,1.0,Reciprocating,2,0,0,"EUREKA, CA",1977.0,6.0
4,1979-08-02,CESSNA,501,Unknown,NaN,Unknown,1,2,0,"Canton, OH",1979.0,8.0

In [16]:
#Locations are standardized making them usable for maps and comparisons.
df["Location"] = df["Location"].fillna("Unknown").str.title()

<ipython-input-16-1fc0cdee0cb3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Location"] = df["Location"].fillna("Unknown").str.title()

In [17]:
df.head()

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location,Event.Year,Event.Month
0,1948-10-24,STINSON,108-3,Unknown,1.0,Reciprocating,2,0,0,"Moose Creek, Id",1948.0,10.0
1,1962-07-19,PIPER,PA24-180,Unknown,1.0,Reciprocating,4,0,0,"Bridgeport, Ca",1962.0,7.0
2,1974-08-30,CESSNA,172M,Unknown,1.0,Reciprocating,3,0,0,"Saltville, Va",1974.0,8.0
3,1977-06-19,ROCKWELL,112,Unknown,1.0,Reciprocating,2,0,0,"Eureka, Ca",1977.0,6.0
4,1979-08-02,CESSNA,501,Unknown,NaN,Unknown,1,2,0,"Canton, Oh",1979.0,8.0

In [18]:
#Severity.Index gives a weighted score (fatal > serious > minor). This lets us compare accidents better.
df["Severity.Index"] = (
    df["Total.Fatal.Injuries"]*3 +
    df["Total.Serious.Injuries"]*2 +
    df["Total.Minor.Injuries"]*1
)

# Getting the total of all injuries so that we are able to calculate for fatality rate
df["Total.Injuries"] = (
    df["Total.Fatal.Injuries"] +
    df["Total.Serious.Injuries"] +
    df["Total.Minor.Injuries"]
)

#Fatality.Rate shows the proportion of deaths when an accident happens.
df["Fatality.Rate"] = df.apply(
    lambda row: row["Total.Fatal.Injuries"]/row["Total.Injuries"] if row["Total.Injuries"]>0 else 0,
    axis=1
)

<ipython-input-18-20f7b7d7cff5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Severity.Index"] = (
<ipython-input-18-20f7b7d7cff5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total.Injuries"] = (
<ipython-input-18-20f7b7d7cff5>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fatality.Rate"] = df.apply(

In [19]:
df.head()

,Event.Date,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Location,Event.Year,Event.Month,Severity.Index,Total.Injuries,Fatality.Rate
0,1948-10-24,STINSON,108-3,Unknown,1.0,Reciprocating,2,0,0,"Moose Creek, Id",1948.0,10.0,6,2,1.000000
1,1962-07-19,PIPER,PA24-180,Unknown,1.0,Reciprocating,4,0,0,"Bridgeport, Ca",1962.0,7.0,12,4,1.000000
2,1974-08-30,CESSNA,172M,Unknown,1.0,Reciprocating,3,0,0,"Saltville, Va",1974.0,8.0,9,3,1.000000
3,1977-06-19,ROCKWELL,112,Unknown,1.0,Reciprocating,2,0,0,"Eureka, Ca",1977.0,6.0,6,2,1.000000
4,1979-08-02,CESSNA,501,Unknown,NaN,Unknown,1,2,0,"Canton, Oh",1979.0,8.0,7,3,0.333333

In [20]:
#Save cleaned dataset for analysis
df.to_csv("cleaned_airline_accidents.csv", index=False)